* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: auto;
    min-height: 100%;
}

body {
    height: auto;
    min-height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.hidden {
    display: none;
}

/* ============ Header ============ */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    background-color: #E71010;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 100;
}

.image-container img.logo {
    height: 50px;
    width: auto;
}

.navigation-bar ul {
    list-style: none;
    display: flex;
    gap: 6rem;
}

.navigation-bar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

.navigation-bar ul li a:hover {
    color: #343434;
    text-decoration: underline;
}


.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-name {
    color: #ffffff;
    font-weight: 600;
    margin-right: 1rem;
    font-size: 16px;
}

.profile-button:hover img.profile {
    transform: scale(1.1);
    transition: transform 0.2s;
}

/* ============ Footer ============ */
.footer {
    width: 100%;
    background-color: #E71010;
    display: flex;
    justify-content: center;
    column-gap: 5rem;
    flex-wrap: wrap;
    padding: 2rem;
    border-top: 1px solid #ccc;
}

.footer-section {
    max-width: 300px;
    margin: 1rem;
    color: #ffffff;
}

.footer-section h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
}

.footer-section p,
.footer-section ul {
    font-size: 0.9rem;
    line-height: 1.6;
}

.footer-section ul {
    padding-left: 0;
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    resize: vertical;
    border: 1px solid #ccc;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.footer-section button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #ffffff;
    color: #E71010;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.footer-section button:hover {
    background-color: #f2f2f2;
}

#feedback-msg {
    text-align: center;
    margin-top: 0.5rem;
}

@media screen and (max-width: 900px) {
    .footer {
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
        column-gap: 0;
    }

    .footer-section {
        max-width: 90%;
        text-align: center;
    }
}
