<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automated Marking</title>
    <!-- Styles -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="header">
        <div class="image-container">
            <img src="../static/images/ielts_logo2.png" alt="IELTS Logo" class="logo">
        </div>
        <div class="navigation-bar">
            <ul>
                <li><a href="{{ url_for('question_generator') }}">Question Generator</a></li>
                <li><a href="{{ url_for('automated_marking')}}">Automated Marking</a></li>
                <li><a href="{{ url_for('history') }}">History</a></li>
            </ul>
        </div>
        <div class="image-container">
            <span class="profile-name"></span>
            <img src="../static/images/profile.png" alt="profile-icon" class="profile">
        </div>
    </div>

    <div class="middle">
        <h2>Automated Marking</h2>
        <div class="block-container">
            <div class="question-set-container">
                <label>Select Question Set:</label>
                    <select class="question-set-select">
                        <option value="">Select Question Set</option>
                    </select>
            </div>
        </div>
        <div class="upload-file-container">
            <h2>Upload single or multiple files (PDF, JPG, PNG)</h2>
        </div>
    </div>

    <div class="submit-container">
        <button id="mark-btn" disabled>Mark</button>
    </div>

    <div class="footer">
        <div class="left-panel">
            <ul>
                <li>About Us</li>
                <li>Feedback</li>
                <li>FaQs</li>
            </ul>
        </div>

        <div class="right-panel">
            <h4>Contact Us</h4>
            <p>Email: support@ieltsapp.com</p>
            <p>Adress: 123 Jalan Akademik, Kuala Lumpur, Malaysia</p>
            <p>Phone: +60 123 456 789</p>
        </div>

    </div>

</body>

</html>