<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IELTS Question Generator for Listening Module</title>
    <!-- Styles -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <!-- JavaScripts -->
    <script type="module" src="../static/js/app.js"></script>
</head>

<body>z
    <div class="header">
        <div class="image-container">
            <img src="../static/images/ielts_logo2.png" alt="IELTS Logo" class="logo">
        </div>
        <div class="navigation-bar">
            <ul>
                <li><a href="{{ url_for('question_generator') }}">Question Generator</a></li>
                <li><a href="">History</a></li>
                <li><a href="">Setting</a></li>
            </ul>
        </div>
        <div class="image-container">
            <span class="profile-name"></span>
            <button class="profile-button">
                <img src="../static/images/profile.png" alt="profile-icon" class="profile">
            </button>
        </div>
    </div>

    <div class="body-img">
        <img src="../static/images/writing_test.avif" alt="background" class="background-picture">
        <div class="body-container">
            <h1>Welcome</h1>
            <div class="body-block">
                <img src="../static/images/question-generator.svg" alt="question-generator" class="question-generator">
                <h2>Question Generator</h2>
                <p>Customize and generate questions for any topic — with preview and audio</p>
                <button><a href="{{ url_for('question_generator') }}">Get Started</a></button>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="left-panel">
            <ul>
                <li>About Us</li>
                <li>Feedback</li>
                <li>FaQs</li>
            </ul>
        </div>

        <div class="right-panel">
            <h4>Contact Us</h4>
            <p>Email: support@ieltsapp.com</p>
            <p>Adress: 123 Jalan Akademik, Kuala Lumpur, Malaysia</p>
            <p>Phone: +60 123 456 789</p>
        </div>

    </div>

</body>

</html>