<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script type="module" src="../static/app.js"></script>
    <!-- Font for Google and Facebook icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div class="background"></div>

    <!-- Floating red objects-->
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>

    <!-- Subtle particle effects-->
     <div class="particles" id="particles"></div>

</body>
</html>